*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #F5F8FF;
}

/* fonts command */


.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
header{
    margin-bottom: -142px;
    width: 100%;
}

/* nav styles */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 150px;
}


/* hero section */

.hero{
    height: 698px;
    width: 100%;
    background-image: url(../Assets/Hero-bg.png);
}

.container{
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    
}

.content-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 309px;
    padding-bottom: 152px;
    font-weight: 700;
    gap: 37px;
    text-align: center;
    h1{
        font-size: 65px;
    }
    
    

}

/* section2 */

.col-2{
    display: flex;
    gap: 23px;
    justify-content: space-between;
    
}

.col-3{
    padding-top: 100px;
}

.col-2 img{
    border: 16px;
    border-radius: 48px;
    align-items: center;
    
}

.primary-container{
    margin-top: 116px;
    margin-bottom: 116px;
}

/* shared Style */
.btn-primary  {
    background-color: #4E47FF;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    padding: 12px 36px;
}
button:hover{
    background-color: aquamarine;
}

h3{
    font-size: 34px;
}
h2{
    font-size: 42px;
    font-weight: 700;
    padding-bottom: 23px;
}
p{
    padding-bottom: 23px;
    color: #252432;
    font-size: 24px;
    font-weight: 400;
}


