*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #F5F8FF;
}

/* fonts command */


.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
header{
    margin-bottom: -142px;
    width: 100%;
}

/* nav styles */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 150px;
}
nav h3{
    font-size: 34px;
    font-weight: 900;
    color: blue;
}


/* hero section */

.hero{
    height: 698px;
    width: 100%;
    background-image: url(../Assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.container{
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    
}

.content-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 309px;
    padding-bottom: 152px;
    font-weight: 700;
    gap: 37px;
    text-align: center;
}

.content-box h1{
  font-size: 65px;
  font-weight: 700;
  color: black;
}

/* section2 */

.col-2{
    display: flex;
    gap: 23px;
    justify-content: space-between;
    
}

.col-3{
    padding-top: 100px;
}

.col-3 h2 {
    font-size: 42px;
    font-weight: 700;
    padding-bottom: 23px;
}
.col-3 p{
     padding-bottom: 23px;
    color: rgba(rgba(37, 36, 50, 0.5));
    font-size: 20px;
    font-weight: 400;
}

.col-2 img{
    border: 16px;
    border-radius: 48px;
    align-items: center;
    
}

.section-2{
    margin-top: 116px;
    margin-bottom: 116px;
}

/* section3 */

 .section-3 {
      font-family: Arial, sans-serif;
      background-color: #f6f9ff;
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 1140px;
      margin: 116px auto 137px;
      
    }

    .section3-container {
      background-color: #e8e9ff;
      padding: 50px 240px;
      border-radius: 24px;
      text-align: center;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
    }

    .section3-container h2 {
      margin-bottom: 30px;
      font-size: 38px;
      color: #222;
      font-weight: 600;
    }

    .main-section3 {
      display: flex;
      justify-content: space-between;
      gap: 60px;
    }

    .main-item {
      color: #6b6b6b;
    }

    .main-item h3 {
      color: #4f46e5;
      font-size: 80px;
      margin: 0;
      font-weight: 700;
    }

    .main-item p {
      margin: 8px 0 0;
      font-size: 20px;
    }
    
    .main-section3 {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

/* card section 4  */

.review-card{
      background-color: #f5f7ff;
      padding: 50px;
      margin: 0;
    }

    .review-section {
      text-align: center;
    
    }

    .review-section h2 {
      font-size: 42px;
      font-weight: bold;
      color: #222;
      margin-bottom: 40px;
    }

    .review-cards {
      display: flex;
      justify-content: center;
      gap: 20px;
      padding-top: 50px;
      
      
    }

    .review-card {
      background-color: #FFF5EE;
      border-radius: 20px;
      width: 367px;
      box-shadow: 0 6px 10px rgba(0,0,0,0.05);
      text-align: left;
      padding: 40px;
      
    }

    .stars {
      color: #ffc107; /* gold color for stars */
      margin-bottom: 10px;
    }

    .review-title {
      font-weight: bold;
      font-size: 16px;
      margin-bottom: 8px;
      color: #333;
    }

    .review-text {
      font-size: 14px;
      color: #555;
      margin-bottom: 16px;
    }

    .reviewer {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .reviewer img {
      width: 32px;
      height: 32px;
      border-radius: 50%;
    }

    .reviewer-info {
      font-size: 12px;
      color: #666;
    }
 .user-say {
   max-width: 1140px;
   margin: 137px auto;
   
 } 

/* section5 */


.ready-container{
  text-align: center;
  background-color: white;
  padding: 71px;
  text-align: center;
  border-radius: 14px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  
  
}

.ready-title{
font-size: 50px;
font-weight: bold;
}

.section-4{
  max-width: 1140px;
  margin: 92px auto;

}

.wc-img{
  height: 365px;
  border-radius: 48px;
  object-fit: cover;
}

.ready-container p{
  margin: 20px auto 20px;
}

.section-4 .btn-primary {
margin: 0px auto 20px;
}


/* section-6 */
.section-5{
  max-width: 1140px;
  margin: 92px auto 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section5-column h3{
  font-size: 97px;
  font-weight: bold;
  
}

form{
  display: flex;
  flex-direction: column;
  width: 497px;
  
}

/* footer-section */

footer{

}

.footer-item{
max-width: 531px;
margin: 104px auto;
text-align: center;
}
.footer-item h2{
  font-size: 100px;
  font-weight: 900;
  color: #4E47FF;
  margin: 0 auto;

}

.footer-item p{
  font-size: 16px;
  font-weight: 400;
  color: #8987A1;
  margin-top: 8px;
  margin-bottom: 44px;
  
}

.footer-item ul{
  display: flex;
  justify-content: space-around;
  list-style: none;
  
}
.footer-item li a{
  text-decoration: none;
  color: #222;
}


/* shared Style */
.btn-primary  {
    background-color: #4E47FF;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    padding: 12px 36px;
    
}
button:hover{
    background-color: burlywood;
}

.review-cards :hover{
  background-color: white;
}

label{
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;

}

.footer-item li :hover{
  background-color: aqua;
}



input,
textarea {
  margin-bottom:19px;
  padding: 20px 32px;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 14px;
  background-color: #fff;}
